/* Taustaväri ja tekstin väri koko sivulle */
body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Otsikon tyyli */
  header {
    background-color: #00aaff;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Pääsisältöalueen marginaali */
  main {
    margin: 20px;
  }
  
  /* Lihavoitu teksti */
  strong {
    color: #e74c3c;
  }
  
  /* Listan väri ja keskitys */
  ul {
    color: #3498db;
    text-align: center;
    padding-left: 0;
  }
  
  /* Listan kohdan tyyli */
  li {
    list-style: none;
    margin-bottom: 10px;
  }