html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.jade-malin-font {
  font-family: 'Raleway', sans-serif;
  font-size: 24px; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #1b3f20;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

.navbar a:hover {
  color: #000000;
}

.section {
  text-align: center;
  padding: 100px 0;
  background-color: #ffffff;
}

.section:last-child {
  border-bottom: none;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #1b3f20;
}

.portfolio-image1 {
  width: 600px;
  height: auto;
  margin: 5px;
  border: 2px solid #ccc;
}

.portfolio-image2 {
  width: 400px;
  height: auto;
  margin: 5px;
  border: 2px solid #ccc;
}

#home {
  background-color: #1b3f20
}

"#about {
  background-color: #1b3f20
} 

#portfolio {
  background-color: #1b3f20
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#contact {
  background-color: #1b3f20
  text-align: center;
}

.footer {
  background-color: #1b3f20;
  text-align: center;
  min-height: 100px;
  line-height: 100px;
  margin-top: -10px;
}

.colored-word {
  color: #cc2626;
}

@media only screen and (min-width: 421px) and
(max-width: 1023px) {

  
 
  







  .navbar {
      padding: 10px 0;
  }

  .section {
      padding: 80px 0;
  }

  .image-container {
      flex-direction: column;
      gap: 20px;
  }

  .portfolio-image1 {
    width: 100%;
    height: auto;
    max-width: 400px;
    border: 2px solid #ccc; 
  }
  
  .portfolio-image2 {
    width: 100%;
    height: auto;
    max-width: 300px;
    border: 2px solid #ccc;
  }
}

