/* Koko sivun keskittäminen */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  
  /* Otsikon tyyli */
  header {
    text-align: center;
    background-color: #00aaff;
    color: white;
    padding: 20px;
  }
  
  /* Lihavoitu teksti */
  strong {
    color: #e74c3c;
  }
  
  /* Toinen otsikko */
  h2 {
    text-align: center;
    margin-top: 10px;
  }
  
  