
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #00aaff;
  padding: 10px 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

.section {
  text-align: center;
  padding: 100px 0;
  min-height: calc(100vh - 50px);
}

.section header h2 {
  margin-bottom: 2px;
}

